body {
    font-family: 'Times New Roman', Times, serif;
    background-image: url('images/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    color: pink;
}


header {
    background: white;  
    color: black;  
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

main {
    text-align: center;
    padding: 20px;
}

img {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px black
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
